.disp{
    background-color:#F4F6F6;
    max-width: 100%;
    margin:20px;
    left:8%;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    min-height:700px;
    max-width: 1200;
}

body{
    overflow-y:scroll;
}
.disp:hover{
  background-color: rgba(0,0,0,.08);
}


h3{
    margin:30px;
}

p{
    text-align:center;
    margin:40px;
    margin-bottom: 40px;
}


.comm{
    margin: 80px;
    
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }


.display-content{
  min-height:400px;

}

