.disp{
    background-color:#F4F6F6;
    height: flex;
    width: flex;

    position: static;
    margin:20px;
    left:8%;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    min-height:600px;
    flex: auto;
    max-width: 1200;
}

body{
    overflow-y:scroll;
}
.disp:hover{
    background-color:#E8EAF6
    ;
}


h3{
    margin:30px;
}

p{
    text-align:center;
    margin:40px;
    margin-bottom: 40px;
}


.comm{
    margin: 50px;
    
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }


