.disp{
    background-color:#F4F6F6;
    height: flex;
    width: flex;
    text-shadow: ;
    box-shadow:
    0 1.8px 1.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 1.5px 10px rgba(0, 0, 0, 0.06),
    0 2.3px 17.9px rgba(0, 0, 0, 0.072),
    0 2.8px 33.4px rgba(0, 0, 0, 0.086),
    0 2px 80px rgba(0, 0, 0, 0.12)
  ;
   border-radius:100px;
    position: static;
    margin:20px;
    left:8%;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    min-height:600px;
    flex: auto;
    max-width: 1200;
}

body{
    overflow-y:scroll;
}
.disp:hover{
    background-color:#E8EAF6
    ;
}


h3{
    margin:30px;
}

p{
    text-align:center;
    margin:40px;
    margin-bottom: 40px;
}


.comm{
    margin: 50px;
    
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }


