




.tag {
    display: inline-block;
    border-radius: 3px;
    padding: .2em .5em .3em;
    border-radius: 2px;
    background: var(--tag-bg);
    color: var(--text-color);
    font-weight: 600;
    margin: .25em .1em
}



.tag-lg {
    font-size: 1.2em;
    border-radius: 4px
}


.tag-cloud-functions {
    background: var(--blue);
    color: #fff
}

