


.left{
   float: left;
   width: 60%;
   position: absolute;
}


.right{
    margin-top:40px;
    float:right;
    width:40%;
    

}


.blog-diw2{
    position: inherit;
    border-radius:1px;
    height: 500px;
    width: inherit;
    max-width: inherit;
    max-height: 500px;
    margin-bottom: 30px;
    margin-left:40px;
    border-bottom:1px solid rgba(0,0,0,.1);
    background-color: rgba(0,0,0,.05);
    color:black;
}

.blog-diw2 > *{
    color:inherit;
}

.blog-diw2 a{
    color:inherit;
}


.blog-diw2:hover{
    background-color: rgba(0,0,0,.1);
}



a:hover, a:active {
    text-decoration: none;
    color: black; 
  }


.content-diw2{
    height:10px;
    text-align:center;
    margin:40px;
 
}
.blog-diw2 img{
    
    height: 40%;
    width:50%;
    max-height: 280px;
}
